.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 4%;
  }
  .card-container {
     /* Added ease for background-color */
    height: 14%;
    width: 10%;
    background-image: linear-gradient(to right, black, transparent); /* Set initial background */
  }
  
  .card-container:hover {
    background-image: linear-gradient(to right, black, red); /* Change to desired gradient */
    transform: scale(1.27);
    transition: transform 1s ease, ; /* Adjust duration for background-image */
  }
  


  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card-container {
    flex: 1 1 300px; /* Adjust the width as needed */
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex: 1 1 250px; /* Adjust the width for smaller screens */
    }
  }
  
  @media (max-width: 576px) {
    .card-container {
      flex: 1 1 200px; /* Adjust the width for even smaller screens */
    }
  }
  